html, body {
	margin:0 0 0 0;
	background-color:#FFC127;
	max-height:99%;
	color:#101010;
}

body {
	padding-bottom:60px;
}

#logo {
	background-color:#FEFEFE;
	margin-top:8;
	padding-top:8;
	padding-bottom:8;
	margin-bottom:0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color:#101010;
}

#main {
	background-color:#FEFEFE;
	margin:8 8 8 8;
	padding:16 16 16 16;
	min-width:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}

.title {
	font-size:30px;
}

.error {
	font-size:20px;
	color:#E01010;
}
